html {
  scroll-behavior: smooth;
}

.video-container {
  position: relative;
  width: 100%; /* Video genişliği, margin bırakmak için azaltıldı */
  height: auto; /* Yükseklik otomatik ayarlanacak */
  display: flex;
  justify-content: center; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
  z-index: 1;
}

.container {
  z-index: 10; /* İçeriğin videonun üzerinde kalmasını sağlamak için z-index ayarı */
}

.video-container video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* İçeriği tam ortalamak için */
}


.responsive-text {
  font-size: 6vw;
  line-height: 1.2;
}

.responsive-subtext {
  font-size: 4vw;
  line-height: 1.3;
}

.responsive-paragraph {
  font-size: 2.5vw;
  line-height: 1.4;
}

@media (min-width: 640px) {
  .responsive-text {
    font-size: 5vw;
  }
  .responsive-subtext {
    font-size: 3.5vw;
  }
  .responsive-paragraph {
    font-size: 2vw;
  }
}

@media (min-width: 1024px) {
  .responsive-text {
    font-size: 4vw;
  }
  .responsive-subtext {
    font-size: 2.5vw;
  }
  .responsive-paragraph {
    font-size: 1.5vw;
  }
}

@media (min-width: 1280px) {
  .responsive-text {
    font-size: 3vw;
  }
  .responsive-subtext {
    font-size: 2vw;
  }
  .responsive-paragraph {
    font-size: 1.2vw;
  }
}

.z-10 {
  z-index: 10;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-white {
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 5px;
 /* Sol kenara hizala */
  width: 100%;
  z-index: 20; /* Videonun üzerinde kalması için yüksek bir z-index değeri */
  background-color: rgba(177, 70, 185, 0.5); /* Şeffaf arka plan */
  padding:1rem; /* İçerik için biraz boşluk */
  display: flex;
  justify-content: space-between; /* Logo ve menü arasındaki alanı aç */
  align-items: center; /* Dikey olarak ortala */
}


.navbar img {
  margin-left: 10px; /* Sol tarafta boşluk bırak */
}

.navbar h3 {
  margin-left: 10px; /* Logo ile metin arasında boşluk bırak */
}




/* Profil kartlarını içeren kapsayıcı */
.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  /* Profil kartları küçük ekranlarda tam genişlikte olacak */
  @media (max-width: 768px) {
    .profile-card {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  /* Orta ve büyük ekranlar için profil kartları yan yana gelecek */
  @media (min-width: 769px) {
    .profile-card {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
  